<%include ./static/header.ejs %>
<%include ./static/sidebar.ejs%>
<%include ./static/navbar.ejs%>

<div class="container-fluid">

    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <img class="img-logo"src="/img/tristone_logo_head.png" alt="">
            <h1 class="display-3 " >Error 404 </h1>
            <hr class="my-2">
            <p>El recurso que está buscando podría haberse eliminado, haber cambiado su nombre o no está disponible temporalmente.</p>
        </div>
    </div>

</div>

<% include ./static/footer.ejs%>