<!-- Footer -->
<!-- <footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; Tristone Flowtech Mexico 2020</span>
    </div>
  </div>
</footer> -->

<!-- End of Footer -->

</div>

<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript
<script src="/resources/Jquery/JQuery.js"></script>
<script src="/resources/bootstrap4.3.1/js/bootstrap.bundle.min.js"></script> -->

<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/popper.js/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/moment//min/moment.min.js"></script>
<script type="text/javascript" src="/jquery-ui/ui/jquery-1-7.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.js"></script>
<script type="text/javascript" src="/js/index.js"></script>


</body>

</html>